<<<<<<< HEAD
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

#banner {
    background-color: #93d8cc;
    background-size: 100px;
=======
h1 {
    text-align: center;
    text-decoration-color: white;
}

#banner {
    background-color: #93d8cc;
>>>>>>> origin/master
}