#banner h1 {
    text-align: center;
    color: white;
    font-family: 'Gaegu', cursive;
    font-size: 7rem;
}

#banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30rem;
    width: 30rem;
}

#banner p {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}

#banner {
    position: static;
    background-color: #add2d6;
    /*
    margin-bottom: 0;
    */
}

nav {
    position: sticky !important;
    background: white;
    
}

.navbar .nav {
    text-align: center;
}

.navbar .navcomponent {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #add2d6 !important;
}

#section {
    background-color: white;
}

#section h1{
    color: #add2d6;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 6rem;
}

#contact {
    position: static;
    background-color: #add2d6;
}

#contact h1{
    text-align: center;
    color: white;
    font-family: 'Gaegu', cursive;
    font-size: 7rem;
}

#contact p {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}

#contact .pointinggraphic {
    height: 10rem;
    width: 15rem;
}

#contact ul {
    text-align: center;
}

#contact .contact-list img {
    height: 10rem;
    width: 10rem;
}

#footer {
    background-color: white;
}

#footer p {
    text-align: center;
    color: #add2d6;
    font-family: 'Gaegu', cursive;
    font-size: 3rem;
}