#banner h1 {
    text-align: center;
    color: white;
    font-family: 'Gaegu', cursive;
    font-size: 7rem;
}

#banner #profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30rem;
    width: 30rem;
}

#banner p {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

#banner {
    position: static;
    background-color: #add2d6;
    /*
    margin-bottom: 0;
    */
}

.navbar {
    position: sticky !important;
    top: 0;
    background: white;
    
}

.navbar .navcomponent {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #add2d6 !important;
}

#section {
    background-color: white;
}

#section h1{
    color: #add2d6;
    text-align: center;
    font-family: "Gaegu", cursive;
    font-size: 6rem;
    padding-bottom: 5rem;
}

#section h2{
    color: #8d98a8;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.aboutmegrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15rem;
    margin-right: 15rem;
}

.aboutmegrid .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 400px) {
    .aboutmegrid {
      display: block;
    }
  }

.aboutmegrid img {
    height: 20rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.description {
    color: #8d98a8;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
}

.artgrid {
    display: flex;
    justify-content: space-around;
    margin-left: 15rem;
    margin-right: 15rem;
} 

.artgrid .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 400px) {
    .artgrid {
      display: block;
    }
  }

.artgrid img {
    height: 25rem;
    width: 25rem;
}

#contact {
    position: static;
    background-color: #add2d6;
}

#contact h1{
    text-align: center;
    color: white;
    font-family: 'Gaegu', cursive;
    font-size: 7rem;
}

#contact p {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

#contact .pointinggraphic {
    margin-top: 3rem;
    height: 10rem;
    width: 15rem;
}

#contact ul {
    text-align: center;
}

#contact .contact-list img {
    height: 10rem;
    width: 10rem;
}

#footer {
    background-color: white;
}

#footer p {
    text-align: center;
    color: #add2d6;
    font-family: 'Gaegu', cursive;
    font-size: 3rem;
}

.col a:link {
    color: #8d98a8;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
}

.col a:hover {
    text-decoration: none;
    font-size: 4rem;
}
