#about h1 {
    text-align: left;
    color: #add2d6;
    font-family: 'Gaegu', cursive;
    font-size: 7rem;
}

#about #profile {
    /* display: block; */
    margin: 5rem;
    float: left;
    height: 30rem;
    width: 30rem;
}

#about p {
    text-align: left;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

#about h2 {
    text-align: center;
    color: #add2d6;
    font-family: 'Gaegu', cursive;
    font-size: 5rem;
}

#about {
    position: static;
    background-attachment: fixed;
    background-color: white;
    padding: 10rem;
}