/*
original pink color: rgb(211, 193, 199)
dusty pink color: rgb(156, 138, 144)
*/

#banner p {
    margin-left: 15rem;
    margin-right: 15rem;
}

#banner .title {
    display: flex;
    position: static;
    background-color: #add2d6;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#banner .bannerimg {
    display: flex;
    height: 6rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navLinks .navLink {
    font-family: "Gaegu", cursive;
    font-size: 4rem;
    color: #add2d6; 
}

#navLinks .navLink:hover {
    font-family: "Gaegu", cursive;
    font-size: 4rem;
    text-decoration: none;
    color: #8d98a8;
}

/*
styling for external links to redbubble and art insta
*/
#extras {
    background-color: white;
}

#extras img {
    height: 25rem;
    width: 25rem;
}

#extras {
    display: flex;
    margin-left: 25rem;
    margin-right: 25rem;
    justify-content: space-around;
}

#extras .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#extras .column h2 {
    text-align: center;
    font-family: "Gaegu", cursive;
    font-size: 4rem;
    color: #add2d6;
}
